* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #e63c44;
    color: #fff;
    text-align: center;
}

h1 {
    padding-top: 200px;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    display: block;
    margin: 40px auto;
    width: 180px;
    height: 60px;
    background: #fff;
    color: #e63c44;
    font-weight: 700;
    font-size: 20px;
    border: none;
}

body, button #change {
    transition: all 0.4s ease;
}